* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#counter-section {
	display: flex;  
	justify-content: center; 
	align-items: center; 
	flex-direction: column; 
}

#input-section {
	display: flex;  
	justify-content: center; 
	align-items: center; 
	flex-direction: row; 
    display: inline-block;
}

button {
    color: #fff;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 3px;
}

button:hover {
    color: #999;
    background-color: #fff;
}